* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", serif;
  font-size: 1.125rem;
  color: #0b1215;
}
hr{
  width: 15%;
  height: 5px;
  background-color: #b3c89c;
  border: none;
  opacity: unset;
}

.navbar-custom {
  background-color: rgb(250 250 248);

  color: #0b1215;
  font-weight: 600;
  font-size: 1.2rem;
}
.navbar-brand img {
  width: 15%; /* Adjust this size as needed */
}
a:hover{
    font-weight: 650;

}
#option-container {
  background-color: rgb(250 250 248);
  padding: 3% 0%;
}


#title {
  font-weight: 700;
  line-height: 3.5rem;
  font-size: 3.5rem;
}

.mission-img {
  position: relative;
  margin-left: 20%;
  width: 120%;
}

.opcion-mission {
  height: auto;
  background-image: url("./media/banner-2.jpg");

  background-size: cover;
  background-position: right center;
  
}
.opcion-text-column {
  height: 600px;
  background-color: rgba(0, 0, 0, 0.471);
  color: aliceblue;
  padding-left: 5%;
}

#opcion-title {
  font-weight: 700;
  line-height: 5rem;
  font-size: 5rem;
  width: 80%;
}


#services-container {
  background-color: rgb(250 250 248);
  padding: 5%;
  
}
.card-custom{
    background-color: rgb(250 250 248);

}
#about-title {
  font-size: 2rem;
  font-weight: 700;
}
#about-container {
  padding-top: 5%;
  padding-bottom: 5%;

}
#about-title {
  padding-top: 10%;
  
}
.about-text-col{
  padding-right: 10%;

}
.card {
  border-radius: 0.7rem;
}
#testimonials-container {
  background-color: rgb(250 250 248);
  height: 900px;
  
}
.testimonials-title{
  font-size: 2rem;
  font-weight: 700;
}
#testimonialCarousel {
  margin-top: 0px; /* Moves it up */
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}
.custom-btn {
  background-color: #b3c89c;
  color: #fff;
}
.custom-btn:hover{
  background-color: #97a884 ;
  color: white;
}
.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.card-form {
  margin-left: 10px;
  margin-right: 10px;
}
#contact-container {
  padding-bottom: 5%;
}
/* Make the carousel narrower */
/* #testimonialCarousel {
  max-width: 70%;
  margin: 0 auto;
} */

/* Position arrows outside the text */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  top: 50%;
  transform: translateY(-50%);
}

/* Change the color of the arrows */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #b3c89c; /* Change this to any color you want */
  border-radius: 50%;
  padding: 10px;
}

/* Style the indicators */
.carousel-indicators button {
  background-color: #b3c89c !important; /* Change to any color */
  width: 10px;
  height: 10px;
}
/* Adjusting the size of indicators for mobile */
@media (max-width: 767px) {
  .carousel-indicators button {
    width: 10px; /* Smaller indicator on mobile */
    height: 10px;
  }

  .carousel-indicators {
    bottom: 20px; /* Move the indicators up slightly on mobile */
  }
  .carousel-control-prev-icon{
height: 6px;
  }
  .carousel-control-next-icon{
    height: 6px;
  }
  .about-text-col{
    padding-right: 3%;
  
  }
}

/* Style the indicators to make them darker */
.carousel-indicators button {
  background-color: #b3c89c !important; 
  width: 12px;
  height: 12px;
}

/* Style for active indicator */
.carousel-indicators .active {
  background-color: #90ab72 !important; /* Even darker color for the active indicator */
}
footer{
  background-color:  rgb(250 250 248);
  margin-top:5%
}
  /* Reduce the logo size on small screens */
  @media (max-width: 768px) {
    .navbar-brand img {
      width: 50px !important; /* Adjust this value as needed */
    }
      #opcion-title {
   
    line-height: 4rem;
    font-size: 4rem;
    
  }
  }